/************* Flex-Box **************/

#header {
    text-align: center;
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    border: 1px solid green;
    padding: 10px 0px;
    margin: 0px;
}
h2 {
    text-align: center;
}
.column {
    border: 1px solid #000;
    padding: 0px 10px;
    background: #f8f8f8;
    margin: 0px 20px;
}