body {
    margin: 0px;
    font-family: arial;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.left {
    float: left;
}
.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

#topbar {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #000;
    padding: 0px 15px;
}
#topbar span {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 15px 0px;
    font-weight: bold;
    letter-spacing: 2px;
}
#topbar .sites {
    width: 40%;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}
#topbar ul {
    width: 80%;
    margin: 0px;
    padding: 10px 0px 0px;
    list-style: none;
}
#topbar ul li {
    font-size: 11px;
    font-weight: bold;
    margin: 0px 15px;
    display: inline-block;
    letter-spacing: 1px;
}
#topbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
#topbar .user_section {
    width: 30%;
    display: flex;
}
#topbar .countries {
    text-align: right;
}

@media (max-width: 1050px) {
    #topbar .user_section {
        width: 35%;
    }
}

@media (max-width: 992px) {
    #topbar .user_section {
        width: 44%;
    }
}
@media (max-width: 768px) {
    #topbar .user_section {
        width: 8%;
        text-align: right;
    }
    #topbar .user_section ul {
        display: none;
    }
}

#header {
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 35px;
    padding: 0px 15px;
}
#header .header_left {
    width: 70%;
}
#header .logo {
    width: 20%;
    padding: 10px 0px;
}
#header .logo img {
    width: 100%;
}
#header .header_right {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    width: 30%;
}
#header .header_right a {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
}

#header .search {
    width: 8%;
    padding-top: 15px;
    margin-right: 30px;
}

#header .topics {
    width: 40%;
}
#header .topics a {
    display: block;
    padding: 15px;
}

#topics {
    display: none;
    background-color: #000;
    position: fixed;
    overflow-y: scroll;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
}
#topics:target {
    display: block;
}
#topics .wrapper {
    display: flex;
}
#topics .topics_data {
    width: 70%;
    padding: 15px;
}
#topics .topics_data figure {
    margin: 0px;
    position: relative;
}
#topics .topics_data img {
    width: 100%;
    max-height: 450px;
}
#topics .topics_data .image_caption {
    position: absolute;
    bottom: 30px;
    left: 40px;
}
#topics .topics_data span, #topics .topics_data h2 {
    color: #fff;
}
#topics .topics_data span {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0px 15px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
#topics .topics_list {
    position: fixed;
    background-color: #222222;
    padding: 50px 30px;
    width: 28%;
    height: 100%;
    overflow-y: scroll;
}
#topics .close_topics {
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 100;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
#topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#topics ul li {
    position: relative;
}
#topics ul li a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 30px 0px;
    text-decoration: none;
    transition: 0.2s;
}
#topics ul li:after {
    content: "";
    border: 1px solid #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 20px;
}
#topics ul li:hover a {
    font-size: 18px;
    color: #FFCC00;
}
#topics ul li:hover:after {
    border-color: #FFCC00;
}


#topics .topics_list::-webkit-scrollbar {
    background-color: transparent;
    border: none;
}

@media(max-width: 1200px) {
    #header .header_left {
        width: 80%;
    }

    #header .header_right {
        width: 20%;
    }

    #header .search {
        margin-right: 23px;
    }

    #header .topics {
        width: 90%;
    }
}

@media(max-width: 992px){
    #header .topics span {
        display: none;
    }
}
@media (max-width: 767px) {
    #header .logo {
        width: 33%;
    }
}


#main-nav {
    width: 70%;
    margin-left: 30px;
}
#main-nav ul {
    margin: 0px;
    padding: 25px 0px 0px;
    list-style: none;
}
#main-nav ul li {
    display: inline-block;
    padding: 0px 20px;
    border-right: 1px solid #999;
}
#main-nav ul li a {
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#main-nav ul li:first-child {
    border-left: 1px solid #999;
}

@media(max-width: 992px) {
    #main-nav ul {
        display: none;
    }
}


/*
Banner
*/
#banner {
    position: relative;
    z-index: -1;
}
#banner img {
    min-height: 400px;
    width: 100%;
}

#banner h2 {
    font-size: 40px;
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 40px;
}
@media (max-width: 767px) {
    #banner h2 {
        font-size: 30px;
    }
}